  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh sách tài khoản
    </h1>
    <ol class="breadcrumb">
        <li><a href="#/admin"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Danh sách tài khoản</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            
        </div>
        <div class="box-body">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" id="txtSearch" ng-model="filterExpression" class="form-control" placeholder="Từ khóa" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="search()" style="width: 80px; background: #40a2f8; color: white">Tìm</button>
                        </span>
                    </div><!-- /input-group -->
                    <br />
                    <button class="btn btn-success" ui-sref="add_application_user" style="width: 160px; background: #40a2f8; border:none"><i class="fa fa-plus"></i>&nbsp; Thêm mới</button>
                    <button class="btn btn-danger" ng-click="deleteMultiple()" id="btnDelete" disabled>Xóa</button>
                </div>
                <div class="col-md-4">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td><input name="all" type="checkbox" ng-click="selectAll()" /></td>
                                <th>Tên người dùng</th>
                                <th>Tài khoản</th>
                                <th>Số điện thoại</th>
                                <th>Email</th>
                                <th style="width:15%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in data | filter:filterExpression">
                                <td><input type="checkbox" ng-model="item.checked" name="all" /></td>
                                <td><a ui-sref="edit_application_user({id:item.Id})">{{item.FullName}}</a></td>
                                <td><a ui-sref="edit_application_user({id:item.Id})">{{item.UserName}}</a></td>
                                <td><a ui-sref="edit_application_user({id:item.Id})">{{item.PhoneNumber}}</a></td>
                                <td>{{item.Email}}</td>
                                <td>
                                    <a ui-sref="edit_application_user({id:item.Id})" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a>
                                    <button class="btn btn-sm btn-danger" ng-click="deleteItem(item.Id)"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="loading">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                        <label class="label label-primary">Đang tải...</label>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
            </div>
        </div>
        <div class="box-footer text-center">
            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></pager-directive>
        </div>
    </div><!-- /.box -->
</section><!-- /.content -->